# Core
vnstock
pandas
numpy
# pandas-ta (compatible version for different numpy versions)
pandas-ta>=0.3.0b0
scikit-learn
matplotlib
statsmodels

# Deep Learning
tensorflow

# Optional tuning
optuna

# Utilities
PyYAML
tqdm

# Additional for TCN implementation
scipy